.container {
    .grid-container {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(4, 1fr);
      grid-template-areas:
        "candle candle candle orderbook trades"
        "candle candle candle orderbook trades"
        "candle candle candle orderbook trades"
        "candle candle candle orderbook trades"
        ;
      gap: 8px; // Added gap for better spacing
      height: 80dvh; // Uncommented (recommended for proper grid sizing)
      min-height: 60dvh; // Fallback for older browsers
      width: 100vw;
      padding: 10px;
      // background-color: aqua;
  
      .candle {
        background-color: red;
        grid-area: candle;
        border-radius: 20px;
      }
  
      .orderbook {
        background-color: #20252B;
        // background-color: red;
        grid-area: orderbook;
      }
  
      .trades {
        background-color: #20252B;
        grid-area: trades;
        border-radius: 20px;

      }
    }
  }

  .scrollable-div {
    overflow: auto; /* Enables scrolling */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
  }
  
  .scrollable-div::-webkit-scrollbar {
    display: none; /* Chrome/Safari/Opera */
  }